<form method="post" action="/transactions">
  <fieldset>
    <legend>Edit transaction details:</legend>
      Date: <br>
      <input type="date" name="date"><br>
      Merchant: <br>
      <input type="text" name="merchant"><br>
      Type: <br>
      <input type="text" name="type"><br>
      Price: <br>
      <input type="text" name="price">

      <input type="submit" value="Edit"
  </fieldset>
</form>