<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/table_styles.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/form_styles.css" media="screen">
  <title>Less Money</title>
</head>
  <body>
    <header>
      <h1 class="start">Less Money</h1>
      <h2 class="start">... cause yo' pretty sure y' all already spent dat</h2>
    </header>
    <nav>
      <ul>
        <li>
          <a href="/transactions">Yo' spending</a>
        </li>
        <li>
          <a href="/transactions/new">Add spending</a>
        </li>
        <li>
          <a href="/tags">Yo' spending types</a>
        </li>
        <li>
          <a href="/tags/new">Add spending type</a>
        </li>
      </ul>
    </nav>
    <section>

    <%= yield %>

    </section>
  </body>
</html>