<!DOCTYPE html>
<html>
<head>
  <title>CashMoneyWallet</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
      <li>
        <a href="/transactions/new">Add transaction</a>
      </li>
      <li>
        <a href="/tags">Spending types</a>
      </li>
      <li>
        <a href="/tags/new">Add spending type</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>