<form method="post" action="/transactions">
  Date:<br>
  <input type="text" name="date"><br>
  Merchant:<br>
  <input type="text" name="merchant"><br>
  Price:<br>
  <input type="text" name="price"><br>
  Type:<br>
  <input type="text" name="type"><br>
  <input type="submit" value="Submit">
</form>