<form method="post" action="/transactions">
  <fieldset>
    <legend>Transaction details:</legend>
    Date:<br>
    <input type="date" name="date"><br>
    Merchant:<br>
    <input type="text" name="merchant"><br>
    Price:<br>
    <input type="text" name="price"><br>
    Type:<br>
    <select name="tag_id">
     
      <% @tags.each do |tag| %>
        <option value=<%= tag.id %>><%= tag.name %></option>
      <% end %>

    </select>
  
    <br>
    <input type="submit" value="Submit">
  </fieldset>
</form>