<form method="post" action="/transactions">
  <fieldset>
    <legend>Transaction details:</legend>
    Date:<br>
    <input type="date" name="date"><br>
    Merchant:<br>
    <input type="text" name="merchant"><br>
    Price:<br>
    <input type="text" name="price"><br>
    Type:<br>
    <select name="tag_id">
      <option value="Food">Food</option>
      <option value="Clothing">Clothing</option>
      <option value="Furniture">Furniture</option>

      <% @transactions.each do |transaction| %>
        <option value=<% transaction.type %> > <% transaction.tag_id %> </option>
      <% end %>

    </select>
  
    <br>
    <input type="submit" value="Submit">
  </fieldset>
</form>