<form method="post" action="/tags">
  <fieldset>
    <legend>Add spending type:</legend>

    Type:<br>
    <input type="text" name="name"><br>
  
    <br>
    <input type="submit" value="Submit">
  </fieldset>
</form>